
    <%- include('../partials/head') %>
    <main class="px-3">
      <h1>Your own portfolio cms.</h1>
      <p class="lead">Create your content and then consume it using REST</p>
      <p class="lead">
        <a
          href="/register"
          class="btn btn-lg btn-secondary fw-bold border-white bg-white"
          >Lets start</a
        >
      </p>
    </main>
    <%- include('../partials/footer') %>
  </body>
</html>
