<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <%- include('../partials/head') %>
    <form method="POST" action="/register">
      <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Email address</label>
        <input
          type="email"
          name="email"
          class="form-control"
          aria-describedby="emailHelp"
        />
      </div>
      <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">Password</label>
        <input
          type="password"
          class="form-control"
          name="password"
          id="exampleInputPassword1"
        />
      </div>

      <button type="submit" class="btn btn-primary">Register</button>
    </form>

    <% if (typeof message !== 'undefined') { %>
    <div class="alert alert-success" role="alert"><%= message %></div>

    <% } %> <%- include('../partials/footer') %>
  </body>
</html>
